body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
  background-color: grey;
  color: #FFA71D;
  font-family: 'Rodfellows Wacky';
}

.interface {
  padding-top: 50px;
  background: #3366CC;
  height: 750px;
  width: 900px;
  border: #CC0000 3px solid;
  border-radius: 5%;
  box-shadow: inset 0px -6px 0px #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.form-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.form-container-left {
  padding-top: 30px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 30px;
}

.form-container-right {
  width: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.signup-input {
  width: 300px;
  background: #6699FF;
  border: #FFA71D 2px solid;
  height: 40px;
  margin: 15px 40px 15px 15px;
  border-style: inset;
}

.profile-icon-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 40px;
}

.profile-img {
  width: 90px;
  margin: 5px;
}

.interface-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.logo {
  width: 400px;
  position: relative;
  top: 115px;
  z-index: 2;
}

#bio {
  height: 200px;
  width: 400px;
}